/*start of reset*/
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  /* display: block; */ }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*end of reset*/
/*main styles*/
* {
  box-sizing: border-box; }

body {
  font-family: 'Gloria Hallelujah', cursive;
  margin: 0 auto;
  padding: 0; }
  body h1 {
    font-size: 30px;
    margin: 0; }
  body header {
    line-height: 100px;
    background-color: #8cff1a;
    text-align: center; }
    body header .headertitle {
      font-weight: bold;
      padding-left: 30px; }
      body header .headertitle a {
        height: 80px;
        font-size: 30px;
        text-decoration: none;
        color: black;
        text-shadow: 2px 3px 4px black; }
      body header .headertitle a:hover {
        font-size: 33px;
        text-shadow: 4px 4px 4px black;
        color: red;
        font-weight: bold; }
  body header:hover {
    background-color: yellow; }
  body nav {
    background-color: #000000;
    height: 51px; }
    body nav a {
      text-align: center;
      font-size: 18px;
      color: white;
      text-decoration: none;
      margin: 0;
      padding: 0;
      float: left;
      height: 51px; }
    body nav a:hover {
      color: #ff6600;
      text-shadow: 1px 2px 3px black;
      background: yellow;
      font-weight: bold; }
    body nav .navtext {
      padding-left: 20px;
      padding-right: 20px; }
  body section {
    background-color: #ffffb3;
    display: inline-block;
    padding-left: 36px;
    padding-bottom: 80px;
    width: 100%; }
    body section article {
      border-radius: 10%;
      margin-top: 0;
      float: left;
      text-align: center;
      margin-top: 20px; }
    body section article:hover {
      background-color: #ffff4d;
      font-size: 16px;
      color: orange; }
      body section article:hover .graybox {
        background-color: #33cc00; }
      body section article:hover h1, body section article:hover h2 {
        color: red; }
    body section h2 {
      font-size: 20px; }
    body section .col1 {
      width: 40%; }
      body section .col1 h1 {
        padding-bottom: 18px;
        border-bottom: 1px solid #dddddd; }
      body section .col1 p {
        padding-bottom: 28px;
        border-bottom: 1px solid #dddddd; }
    body section .col2 {
      float: left;
      width: 25%;
      margin-left: 58px; }
    body section .col3 {
      float: left;
      width: 25%;
      margin-left: 58px; }
    body section .graybox {
      width: 100%;
      height: 350px;
      background-color: #0066ff;
      border: none;
      border-radius: 20px; }
      body section .graybox p {
        text-align: center;
        padding-top: 75px;
        font-weight: bold;
        color: #8cff1a;
        font-size: 60px;
        border: none; }
    body section .graybox:hover {
      background-color: red;
      font-size: 60px; }
  body footer {
    background-color: black;
    font-size: 18px;
    color: white;
    padding: 20px; }

@media screen and (max-width: 800px) {
  * {
    margin: 0 auto;
    width: 100%;
    text-align: center; }

  body {
    width: 100%; }
    body main header {
      text-align: center; }
      body main header a {
        margin-right: 30px; }
    body main nav {
      height: 100%;
      background: #000000; }
      body main nav a {
        background: #000000;
        padding: 15px;
        border-bottom: 2px solid grey; }
    body main section {
      display: inline-block;
      width: 100%;
      padding-left: 0;
      margin-top: 0; }
      body main section article {
        padding: 30px; }
        body main section article p {
          margin-top: 20px;
          width: 100%;
          text-align: center;
          font-size: 17px; }
      body main section article:hover {
        background-color: #ffff4d;
        font-weight: italic;
        font-size: 16px; }
        body main section article:hover .graybox {
          background-color: red; }
        body main section article:hover p {
          color: orange; }
        body main section article:hover h1, body main section article:hover h2 {
          color: red; }
      body main section .col1 {
        width: 100%;
        margin-left: 0; }
      body main section .col2 {
        width: 100%;
        margin-top: 10px;
        margin-left: 0; }
      body main section .col3 {
        width: 100%;
        margin-top: 10px;
        margin-left: 0; }
      body main section .graybox {
        margin-top: 10px; }
        body main section .graybox p {
          padding-top: 100px;
          padding-bottom: 100px;
          color: #8cff1a; }
      body main section .graybox:hover p:hover {
        font-size: 57px;
        text-shadow: -3px 7px 10px black;
        color: #ff6600; } }

/*# sourceMappingURL=styles.css.map */
