/*start of reset*/
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end of reset*/
/*main styles*/
body{
	button{
		margin-top:20px;
		margin-left:5px;
		padding:5px;
		color:white;
		font-size:18px;
		border-radius:10px;
		border:none;
		outline:none;
	}
	.btn-grey{
		margin-left:20px;
		background-color:grey;
	}
	.btn-green{
		background-color:green;
	}
	.btn-red{
		background-color:red;
	}	
		section{
			display:inline-block;
			width:100%;
			table{
				float:left;
				border:2px solid black;
				margin-top:20px;
				margin-left:20px;
				th,td{
					text-align:center;
					padding:5px;
					border:2px solid black;
				}
				.th-grey{
					color:grey;
				}
				.th-green{
					color:green;
				}
				.th-blue{
					color:blue;
				}
				.td-grey{
					background-color:grey;
					color:white;
				}
				.td-green{
					background-color:green;
					color:white;
				}
				.td-blue{
					background-color:blue;
					color:white;
				}
			}	
		}		
}