article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end of reset*/
/*main styles*/
main{
	width: 640px;
	height: 360px;
	border:2px solid black;
	background: grey;
	padding:20px;

	
}
h1{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 50px;
	color: black;
	font-weight: bold;
	font-style: italic;
	font-weight: bold;
	padding-left: 50px;
	text-shadow: black 2px 3px 1px;
}
.text{
	font-size:20px;
	margin:0 auto;
}
.studname{
	border-radius: 90px;
	border: 3px solid red;
	width:200px;
	height:30px;
	font-family: "comic sans ms", cursive, sans-serif;
	font-size: 15px;
	font-weight:bolder;
}
.email{
	border-radius: 90px;
	border: 3px solid yellow;
	width:200px;
	height:30px;
	font-family: "comic sans ms", cursive, sans-serif;
	font-size: 15px;
	font-weight:bolder;
}
.subscribe{
	font-family: "comic sans ms", cursive, sans-serif;
	font-weight:bold;
	font-size:20px;
	border-radius:30px 30px 30px 30px;
	width:125px;
	height:75px;
}
