p{
	font-weight:bold;
	font-size:18px;
}
button{
	margin-left:100px;
	padding:10px;
	border:none;
	border-radius:5px;
	font-size:15px;
	font-weight:bold;
	color:white;
	background-color:red;
	outline:none;
}